body {
  background-color: #f8f9fa;
}

#search-menu-container {
  position: relative;
}

.search-menu {
  position: absolute;
  background: white;
  z-index: 1;
  top: 20px;
  left: 0px;
  width: 300px;
  min-height: 200px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 2px 6px 2px rgba(60,64,67,0.15);
}

.search-menu-item {
  border-bottom: 1px solid #eee;
  padding: 10px 15px;
  transition: background 0.2s;
}

.search-menu-item:hover {
  background: #eee;
  transition: background 0.2s;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.pointer-cursor {
  cursor: pointer;
}

.tweet-element {
  border-radius: 0px;
  border: 0px;
  border-top: 1px solid #ddd;
}

.tweet-element:first-child {
  border-top: 0px;
}

.content {
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
  margin-top: 20px;
}

.profile-container {
  width: 30%;
  margin-right: 15px;
  max-width: 300px;
  color: #657786;
}

.img-fluid {
  max-height: 100px;
}

.b {
  border: 1px solid red;
}

.btn-follow {
  color: #007bff;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  border-width: 2px
}

.btn-follow:hover {
  color: white !important;
}

.btn-unfollow {
  color: white;
  border-radius: 30px;
  font-weight: bold;
}


@media screen and (max-width: 800px) {
  .profile-container {
    display: block;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    margin-bottom: 25px;
    color: #657786;
  }

  .tweet-element {
    margin: 1px 0;
  }

  .nav-item {
    margin: 8px 0;
  }

  #search-input {
    margin-top: 18px;
  }

  .content {
    max-width: 100%;
  }

  .card {
    width: 100vw !important;
  }
}